In [1]:
import pandas as pd
import os
import numpy   as np
import re
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
def tonparray(dd):
    dd = re.sub(r'\s+', ' ', dd)
    dd=dd.replace('[','').replace(']','').replace('   ',' ').replace('  ',' ').split(',')
    dd=[i.strip().split(' ') for i in dd]
    dd=np.array(dd)
    return dd
# gathering all csv files in the folder
files_all = os.listdir('DataCopy')
files = [file for file in files_all if file.endswith('.txt')]
speedfiles = [file for file in files_all if file.endswith('.csv')]
#
Speeds=[]
for j in speedfiles:
    if 'speed_data' in j:
        print(j)
        df = pd.read_csv('DataCopy/' + j, sep=',', header=0)
        Speeds.append(df)

Speed_DF=pd.concat(Speeds)

speed_data_0_200.csv
speed_data-400-1000.csv
speed_data_200_400.csv

In [2]:
Angles=[]
Params=[]
Potentials=[]
for i in files:
    if 'angle' in i:
        print(i)
        df = pd.read_csv('DataCopy/' + i, sep='\t', header=None)
        df[df.columns[0]]=df[df.columns[0]].apply(lambda x:x.replace("'",""))
        df['array']=df[df.columns[0]].apply(tonparray)
        df['Timestamp']=df['array'].apply(lambda x:str(x[0]).replace("[","").replace("]","").replace("'",""))
        df['Angles_0']=df['array'].apply(lambda x:x[1][0])
        df['Angles_1']=df['array'].apply(lambda x:x[1][1])
        df['All']=df['array'].apply(lambda x:x[1])
        Angles.append(df[['Timestamp','Angles_0','Angles_1']])
    if 'parameters' in i:
        print(i)
        df = pd.read_csv('DataCopy/' + i, sep='\t', header=None)
        df[df.columns[0]]=df[df.columns[0]].apply(lambda x:x.replace("'",""))
        df['array']=df[df.columns[0]].apply(tonparray)
        df['Timestamp']=df['array'].apply(lambda x:str(x[0]).replace("[","").replace("]","").replace("'",""))
        df=df.iloc[1:,:]
        df['stri']=df[df.columns[0]].apply(lambda x:str(x))
        df=df[~df['stri'].str.contains('STOP')]
        df['freq']=df['array'].apply(lambda x:x[1][0])
        df['amp_1']=df['array'].apply(lambda x:x[2][0])
        df['amp_2']=df['array'].apply(lambda x:x[3][0])
        df['offset_1']=df['array'].apply(lambda x:x[4][0])
        df['offset_2']=df['array'].apply(lambda x:x[5][0])
        df['phase']=df['array'].apply(lambda x:x[6][0])
        Params.append(df[['Timestamp','freq','amp_1','amp_2','offset_1','offset_2','phase']])
    if 'potentials' in i:
        print(i)
        df = pd.read_csv('DataCopy/' + i, sep='\t', header=None)
        df[df.columns[0]]=df[df.columns[0]].apply(lambda x:x.replace("'",""))
        df['array']=df[df.columns[0]].apply(tonparray)
        df['Timestamp']=df['array'].apply(lambda x:str(x[0]).replace("[","").replace("]","").replace("'",""))
        df['Potentials_0']=df['array'].apply(lambda x:x[1][0])
        df['Potentials_1']=df['array'].apply(lambda x:x[1][1])
        Potentials.append(df[['Timestamp','Potentials_0','Potentials_1']])
   
Angles_DF=pd.concat(Angles)
Params_DF=pd.concat(Params)
Potentials_DF=pd.concat(Potentials)

potentials 23-05-2023 10-25-14 Am 2 modules.txt

/tmp/ipykernel_15587/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

parameters 23-05-2023 12-36-29 Am 2 modules.txt
parameters 23-05-2023 12-02-59 Am 2 modules.txt
angles 23-05-2023 12-02-59 Am 2 modules.txt

/tmp/ipykernel_15587/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

potentials 23-05-2023 12-02-59 Am 2 modules.txt

/tmp/ipykernel_15587/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

potentials 23-05-2023 12-36-29 Am 2 modules.txt

/tmp/ipykernel_15587/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

parameters 23-05-2023 10-25-14 Am 2 modules.txt
angles 23-05-2023 12-36-29 Am 2 modules.txt

/tmp/ipykernel_15587/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

angles 23-05-2023 10-25-14 Am 2 modules.txt

/tmp/ipykernel_15587/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

In [10]:
# outer join on timestamp
metrics=Angles_DF.merge(Params_DF,on='Timestamp',how='outer').merge(Potentials_DF,on='Timestamp',how='outer')
metrics.sort_values(by='Timestamp',inplace=True)
metrics.fillna(method='ffill',inplace=True)
metrics.dropna()
Speed_DF.columns=['Timestamp','Speed']
final=metrics.merge(Speed_DF,on='Timestamp',how='outer')
final.sort_values(by='Timestamp',inplace=True)

In [14]:
#first non Nan in speed
final.reset_index(inplace=True,drop=True)
first_Non_Nan=final[final['Speed'].notnull()].index[0]
final=final.iloc[first_Non_Nan:,:]

In [15]:
final

,Timestamp,Angles_0,Angles_1,freq,amp_1,amp_2,offset_1,offset_2,phase,Potentials_0,Potentials_1,Speed
63957,10:51:44.316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01387
63958,10:51:44.382,-93.,-94.,0.0,0.0,0.0,-90,-90,-90.0,-87.,-87.,NaN
63959,10:51:44.399,-93.,-94.,0.0,0.0,0.0,-90,-90,-90.0,-87.,-87.,NaN
63960,10:51:44.414,-93.,-94.,0.0,0.0,0.0,-90,-90,-90.0,-87.,-87.,NaN
63961,10:51:44.431,-93.,-94.,0.0,0.0,0.0,-90,-90,-90.0,-87.,-87.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
460392,14:10:24.761,0.72,-2.86,0.0,0.0,0.0,0.0,0.0,0.0,4.,0.,NaN
460393,14:10:24.798,0.67,-2.87,0.0,0.0,0.0,0.0,0.0,0.0,4.,0.,NaN
460394,14:10:24.812,0.63,-2.89,0.0,0.0,0.0,0.0,0.0,0.0,4.,34.,NaN
460395,14:10:24.815,0.63,-2.89,0.0,0.0,0.0,0.0,0.0,0.0,4.,34.,NaN
460396,14:10:24.815,0.63,-2.89,0.0,0.0,0.0,0.0,0.0,0.0,4.,34.,NaN

In [16]:
for i in final.columns:
    if i!='Speed':
        #ffill for all columns except speed
        final[i].fillna(method='ffill',inplace=True)

/tmp/ipykernel_15587/1088847988.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[i].fillna(method='ffill',inplace=True)

In [22]:
GG=final.groupby(['Angles_0','Angles_1','freq','amp_1','amp_2','offset_1','offset_2','phase','Potentials_0','Potentials_1']).mean().sort_values(by='Speed',ascending=False)

In [30]:
GG=GG.reset_index().dropna(subset=['Speed'])
GG.to_csv('DataCopy/Final.csv',index=False)

In [31]:
GG

,Angles_0,Angles_1,freq,amp_1,amp_2,offset_1,offset_2,phase,Potentials_0,Potentials_1,Speed
0,28.55,-5.26,0.9,80,48,56,-34,-52.0,12.,-27.,14.622617
1,-100.59,-5.21,0.8,80,80,-25,26,-52.0,-82.,21.,12.119482
2,-29.3,4.55,0.8,63,79,-87,-73,22.0,-33.,8.,11.847835
3,-46.97,22.27,0.3,48,63,7,-21,11.0,-38.,10.,11.480086
4,47.04,-60.64,0.9,80,48,56,-34,55.0,102.,-42.,11.266257
...,...,...,...,...,...,...,...,...,...,...,...
3102,-10.27,-71.06,0.1,0,0,-8,-68,35.0,27.,-39.,0.000000
3103,-80.33,-52.33,0.1,48,1,-58,4,-85.0,-74.,-48.,0.000000
3104,-92.99,-93.99,0.0,0.0,0.0,-90,-90,-90.0,-86.,-87.,0.000000
3105,114.13,-37.72,0.0,80,0,37,-34,40.0,97.,-33.,0.000000
3106,-93.,-94.,0.0,0.0,0.0,-90,-90,-90.0,-86.,-88.,0.000000