In [1]:
import pandas as pd
import os
import numpy   as np
import re
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
def tonparray(dd):
    dd = re.sub(r'\s+', ' ', dd)
    dd=dd.replace('[','').replace(']','').replace('   ',' ').replace('  ',' ').split(',')
    dd=[i.strip().split(' ') for i in dd]
    dd=np.array(dd)
    return dd
# gathering all csv files in the folder
files_all = os.listdir('DataCopy')
files = [file for file in files_all if file.endswith('.txt')]
speedfiles = [file for file in files_all if file.endswith('.csv')]
#
Speeds=[]
for j in speedfiles:
    if 'speed_data' in j:
        print(j)
        df = pd.read_csv('DataCopy/' + j, sep=',', header=0)
        Speeds.append(df)

Speed_DF=pd.concat(Speeds)

speed_data_0_200.csv
speed_data-400-1000.csv
speed_data_200_400.csv

In [2]:
Angles=[]
Params=[]
Potentials=[]
for i in files:
    if 'angle' in i:
        print(i)
        df = pd.read_csv('DataCopy/' + i, sep='\t', header=None)
        df[df.columns[0]]=df[df.columns[0]].apply(lambda x:x.replace("'",""))
        df['array']=df[df.columns[0]].apply(tonparray)
        df['Timestamp']=df['array'].apply(lambda x:str(x[0]).replace("[","").replace("]","").replace("'",""))
        df['Angles_0']=df['array'].apply(lambda x:x[1][0])
        df['Angles_1']=df['array'].apply(lambda x:x[1][1])
        df['All']=df['array'].apply(lambda x:x[1])
        Angles.append(df[['Timestamp','Angles_0','Angles_1']])
    if 'parameters' in i:
        print(i)
        df = pd.read_csv('DataCopy/' + i, sep='\t', header=None)
        df[df.columns[0]]=df[df.columns[0]].apply(lambda x:x.replace("'",""))
        df['array']=df[df.columns[0]].apply(tonparray)
        df['Timestamp']=df['array'].apply(lambda x:str(x[0]).replace("[","").replace("]","").replace("'",""))
        df=df.iloc[1:,:]
        df['stri']=df[df.columns[0]].apply(lambda x:str(x))
        df=df[~df['stri'].str.contains('STOP')]
        df['freq']=df['array'].apply(lambda x:x[1][0])
        df['amp_1']=df['array'].apply(lambda x:x[2][0])
        df['amp_2']=df['array'].apply(lambda x:x[3][0])
        df['offset_1']=df['array'].apply(lambda x:x[4][0])
        df['offset_2']=df['array'].apply(lambda x:x[5][0])
        df['phase']=df['array'].apply(lambda x:x[6][0])
        Params.append(df[['Timestamp','freq','amp_1','amp_2','offset_1','offset_2','phase']])
    if 'potentials' in i:
        print(i)
        df = pd.read_csv('DataCopy/' + i, sep='\t', header=None)
        df[df.columns[0]]=df[df.columns[0]].apply(lambda x:x.replace("'",""))
        df['array']=df[df.columns[0]].apply(tonparray)
        df['Timestamp']=df['array'].apply(lambda x:str(x[0]).replace("[","").replace("]","").replace("'",""))
        df['Potentials_0']=df['array'].apply(lambda x:x[1][0])
        df['Potentials_1']=df['array'].apply(lambda x:x[1][1])
        Potentials.append(df[['Timestamp','Potentials_0','Potentials_1']])
   
Angles_DF=pd.concat(Angles)
Params_DF=pd.concat(Params)
Potentials_DF=pd.concat(Potentials)

potentials 23-05-2023 10-25-14 Am 2 modules.txt

/tmp/ipykernel_13854/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

parameters 23-05-2023 12-36-29 Am 2 modules.txt
parameters 23-05-2023 12-02-59 Am 2 modules.txt
angles 23-05-2023 12-02-59 Am 2 modules.txt

/tmp/ipykernel_13854/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

potentials 23-05-2023 12-02-59 Am 2 modules.txt

/tmp/ipykernel_13854/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

potentials 23-05-2023 12-36-29 Am 2 modules.txt

/tmp/ipykernel_13854/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

parameters 23-05-2023 10-25-14 Am 2 modules.txt
angles 23-05-2023 12-36-29 Am 2 modules.txt

/tmp/ipykernel_13854/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

angles 23-05-2023 10-25-14 Am 2 modules.txt

/tmp/ipykernel_13854/1170625154.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dd=np.array(dd)

In [8]:
# outer join on timestamp
metrics=Angles_DF.merge(Params_DF,on='Timestamp',how='outer').merge(Potentials_DF,on='Timestamp',how='outer')
metrics.sort_values(by='Timestamp',inplace=True)
metrics.fillna(method='ffill',inplace=True)
metrics.dropna()
Speed_DF.columns=['Timestamp','Speed']
final=metrics.merge(Speed_DF,on='Timestamp',how='outer')

In [9]:
final

,Timestamp,Angles_0,Angles_1,freq,amp_1,amp_2,offset_1,offset_2,phase,Potentials_0,Potentials_1,Speed
0,10:25:14.539,-3.,-4.,NaN,NaN,NaN,NaN,NaN,NaN,6.,4.,NaN
1,10:25:14.561,-3.,-4.,NaN,NaN,NaN,NaN,NaN,NaN,6.,4.,NaN
2,10:25:14.582,-3.,-4.,NaN,NaN,NaN,NaN,NaN,NaN,6.,4.,NaN
3,10:25:14.605,-3.,-4.,NaN,NaN,NaN,NaN,NaN,NaN,6.,4.,NaN
4,10:25:14.620,-3.,-4.,NaN,NaN,NaN,NaN,NaN,NaN,6.,4.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
460392,12:34:21.225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.601812
460393,12:34:24.234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.033936
460394,12:34:27.240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.610213
460395,12:34:30.247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
460396,12:34:33.253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000