In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('NewParameterSamples.csv')

In [3]:
speed=pd.read_csv('speed_data500_1000.csv')

In [4]:
speed.columns=['Timestamp','Speed']

In [5]:
t=pd.merge(speed,data,on=['Timestamp'],how='outer')

In [6]:
t=t.sort_values(by='Timestamp')

In [7]:
for i in t.columns:
    if i!='Timestamp' and i!='Speed':
        t[i]=t[i].fillna(method='ffill')

In [8]:
t=t.dropna(subset=['Snelheid'])

In [9]:
t['Speed']=t['Speed'].fillna(method='bfill')

In [10]:
results=t.groupby(['Snelheid', 'Omvang1', 'Positie1', 'Omvang2','Positie2', 'Relatie']).agg({'Speed':np.mean})

In [11]:
Final=results.reset_index()

In [12]:
Final

     Snelheid  Omvang1  Positie1  Omvang2  Positie2  Relatie     Speed
0         0.0      0.0     -90.0     45.0     -90.0    -60.0  0.720354
1         0.0      0.0     -90.0     45.0      30.0     60.0  1.639202
2         0.0      0.0     -90.0     60.0      15.0    -45.0  1.243099
3         0.0      0.0     -45.0     15.0     -75.0     30.0  1.046268
4         0.0      0.0     -45.0     15.0      30.0     30.0  0.325357
..        ...      ...       ...      ...       ...      ...       ...
493       9.0     75.0     -45.0      0.0     -90.0     30.0  5.130143
494       9.0     75.0     -30.0      0.0     -90.0     30.0  4.264560
495       9.0     75.0     -30.0     15.0      60.0     30.0  5.720083
496       9.0     75.0      30.0     15.0     -15.0    -90.0  5.768844
497       9.0     75.0      30.0     45.0     -75.0     75.0  4.581650

[498 rows x 7 columns]

In [13]:
Final

     Snelheid  Omvang1  Positie1  Omvang2  Positie2  Relatie     Speed
0         0.0      0.0     -90.0     45.0     -90.0    -60.0  0.720354
1         0.0      0.0     -90.0     45.0      30.0     60.0  1.639202
2         0.0      0.0     -90.0     60.0      15.0    -45.0  1.243099
3         0.0      0.0     -45.0     15.0     -75.0     30.0  1.046268
4         0.0      0.0     -45.0     15.0      30.0     30.0  0.325357
..        ...      ...       ...      ...       ...      ...       ...
493       9.0     75.0     -45.0      0.0     -90.0     30.0  5.130143
494       9.0     75.0     -30.0      0.0     -90.0     30.0  4.264560
495       9.0     75.0     -30.0     15.0      60.0     30.0  5.720083
496       9.0     75.0      30.0     15.0     -15.0    -90.0  5.768844
497       9.0     75.0      30.0     45.0     -75.0     75.0  4.581650

[498 rows x 7 columns]

In [15]:
Final.to_csv('secondbatch_500Samples.csv')